<div id="header">
  
  <h1>My MVC Application</h1>
  <div class="tc">
    <ul id="menu" class="w300 f20 fb ">
      <li >@Html.ActionLink("Home", "Index", "Home")</li>
      <li >@Html.ActionLink("About", "About", "Home")</li>
    </ul>
  </div>
  <div class="cl"></div>
</div>