@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Unknown</title>
</head>
<body>
    <div style="color:red;font-size:40px">
		Sorry, an error occurred while processing your request.
    </div>
</body>
</html>
