<div id="header">
  <h1>My MVC Application</h1>
  <nav class="HAlignLi">
    <ul id="menu" >
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li>@Html.ActionLink("About", "About", "Home")</li>
    </ul>
  </nav>
  <div class="clearLeft"></div>
</div>